@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}


body{

background:#f1f5f9;
color:#0f172a;

}


a{

text-decoration:none;

}


/* NAVBAR */


.navbar{

height:75px;
padding:0 70px;

display:flex;
align-items:center;
justify-content:space-between;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.08);

position:sticky;
top:0;
z-index:100;


}


.navbar h2{

font-size:30px;
font-weight:700;

color:#2563eb;

}



.navbar a{

margin-left:30px;

color:#334155;

font-weight:500;

}



.navbar a:hover{

color:#2563eb;

}




/* HERO */


.hero{


height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 80px;


background:

linear-gradient(
120deg,
#020617,
#1e293b
);


color:white;


}



.hero h1{

font-size:60px;

line-height:1.2;

}


.hero p{

font-size:20px;

margin:25px 0;

color:#cbd5e1;

}


.hero img{

width:520px;

border-radius:30px;

box-shadow:

0 30px 60px black;

}





button{


background:#2563eb;

color:white;

border:none;

padding:14px 35px;

border-radius:30px;

font-size:16px;

cursor:pointer;

transition:.3s;


}



button:hover{

transform:translateY(-5px);

background:#1d4ed8;

}



/* VEHICLES */


.vehicles{

padding:70px;

}


.vehicles h1{

text-align:center;

font-size:45px;

}


.subtitle{

text-align:center;

color:#64748b;

margin:15px;

}



.vehicle-container{


margin-top:50px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;


}




.vehicle-card{


background:white;

border-radius:25px;

overflow:hidden;


box-shadow:

0 20px 40px rgba(0,0,0,.12);


transition:.4s;


}



.vehicle-card:hover{


transform:translateY(-15px);


}




.vehicle-image img{

width:100%;

height:250px;

object-fit:cover;


}




.vehicle-info{

padding:25px;

}



.vehicle-info h2{

font-size:25px;

}



.price{


font-size:22px;

color:#2563eb;

font-weight:600;

margin:20px 0;


}



/* LOGIN */


.form{


width:420px;

margin:80px auto;

background:white;

padding:40px;

border-radius:25px;


box-shadow:

0 20px 50px rgba(0,0,0,.15);


}



.form input{


width:100%;

padding:15px;

margin:12px 0;

border-radius:10px;

border:1px solid #ddd;


}



.form button{

width:100%;

}



/* DASHBOARD */


.dashboard{

padding:70px;

}



.stats{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;


}



.stats div{


background:white;

padding:40px;

border-radius:25px;


box-shadow:

0 20px 40px rgba(0,0,0,.1);

text-align:center;


}




@media(max-width:900px){


.hero{

flex-direction:column;

text-align:center;

padding:40px;

}


.hero h1{

font-size:40px;

}


.hero img{

width:90%;

margin-top:30px;

}


.vehicle-container,
.stats{

grid-template-columns:1fr;

}


.navbar{

padding:20px;

}


}