.vehicles{

padding:60px 80px;
background:#f8fafc;
min-height:100vh;

}



.vehicles h1{

text-align:center;
font-size:42px;
font-weight:700;
margin-bottom:50px;
color:#0f172a;

}



/* cards grid */

.vehicle-container{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;

}



/* card */

.vehicle-card{

background:white;
border-radius:20px;
overflow:hidden;

box-shadow:
0 10px 30px rgba(0,0,0,0.12);

transition:0.3s;

}



.vehicle-card:hover{

transform:translateY(-8px);

box-shadow:
0 20px 40px rgba(0,0,0,0.18);

}



/* image size fixed */

.vehicle-image{

height:180px;
overflow:hidden;
position:relative;

}



.vehicle-image img{

width:100%;
height:180px;

object-fit:cover;

transition:0.4s;

}



.vehicle-card:hover img{

transform:scale(1.08);

}



/* tag */

.tag{

position:absolute;

top:15px;
left:15px;

background:#2563eb;

color:white;

padding:7px 14px;

border-radius:20px;

font-size:14px;

}



/* rating */

.rating{

position:absolute;

right:15px;
top:15px;

background:white;

padding:7px 12px;

border-radius:20px;

font-size:14px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}



/* content */

.vehicle-info{

padding:20px;

}



.vehicle-info h2{

font-size:22px;

margin-bottom:10px;

color:#111827;

}



.details{

display:flex;

justify-content:space-between;

font-size:14px;

color:#64748b;

margin:15px 0;

}



.price{

font-size:22px;

font-weight:700;

color:#2563eb;

margin-bottom:20px;

}



/* button */

.vehicle-info button{

width:100%;

padding:13px;

border:none;

border-radius:25px;


background:linear-gradient(
45deg,
#2563eb,
#06b6d4
);


color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}



.vehicle-info button:hover{

transform:scale(1.03);

}



/* mobile */

@media(max-width:900px){


.vehicles{

padding:30px;

}


.vehicle-container{

grid-template-columns:1fr;

}


}